@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rubik:wght@400;500;700&display=swap');
@import "_zero";

body {
  font: 16px/1.4 'Poppins', sans-serif;
  // background: #000;
  // color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  flex: 1 1 auto;
}

//Стили для блока с навишацией
@import "_menu";